@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
    height: auto;
    background: darkgrey;
}
body{
    min-height: 100%;
}
#musicPlayer{
    display: flex;
    flex-basis: 1 1 0;
    justify-content: center;
    margin-top: 2vh;
} */