@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
    height: auto;
    background: darkgrey;
}
body{
    min-height: 100%;
}
*/

#musicPlayer{
    display: flex;
    flex-basis: 1 1 0;
    justify-content: center;
    margin-top: 2vh;
}

.symbol .mr-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px; 
    background-color: white;
}

input:hover{
    cursor:pointer;
}


  
