@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
    height: auto;
    background: darkgrey;
}
body{
    min-height: 100%;
}
*/

#musicPlayer {
    position: relative; /* Allows for absolute positioning of the volume slider container */
    text-align: center; /* Centers the Soundcloud widget */
    width: 80%; /* Sets the width of the music player container to be 80% of the screen */
    margin: 0 auto; /* Centers the music player container horizontally */
}

html{
    color: white;
}

section{
    color: black;
}
